.clearfix:before,
.clearfix:after
{
    display: 'table';

    content: '';
}

.clearfix:after
{
    clear: both;
}

html
{
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;

    height: 100%;
}

body
{
    font-family: 'Noticia Text', 'Varela Round', sans-serif;

    width: 90%;
    margin: 0 auto;

    color: #333;
}

h1, h2, h3, ul, li, a, img, form, input, p, div, header, nav, section, article
{
    margin: 0;
    padding: 0;
}

img
{
    max-width: 100%;
}

ul
{
    padding-left: 0;
}

ul li
{
    list-style: none;
}

a
{
    text-decoration: none;

    color: inherit;
}

button, input, textarea
{
    outline: none;
}

img
{
    vertical-align: middle;
}

.page-header
{
    float: left;

    width: 100%;

    background-color: white;
}

.header-banner
{
    float: left;

    width: 100%;

    background-color: white;
}

h1.header-logo-image
{
    width: 100%;
    margin: 0 auto;

    text-align: center;
}
h1.header-logo-image a img
{
    display: block;

    width: 100%;
    max-width: 170px;
    height: auto;
    margin: 0 auto;

    text-align: center;

    background-color: white;
}

.header-nav-main
{
    display: block;
    float: left;

    width: 100%;
    margin: 1em 0;
    padding: 0;

    background-color: white;
}
.header-nav-main ul li
{
    text-align: center;
    letter-spacing: .1em;
}
.header-nav-main ul li a
{
    display: block;

    padding: -webkit-calc(.5em + 1px) 0;
    padding:         calc(.5em + 1px) 0;

    color: #2c3e50;
    border-bottom: 1px dashed #16a085;
}
.header-nav-main ul li a:hover, .header-nav-main ul li a:active
{
    color: #16a085;
}
.header-nav-main ul li a.current
{
    cursor: default;

    color: #34495e;
    border-bottom: 2px solid #16a085;
}
.header-nav-main ul li a.current:hover
{
    border-radius: 0;
}

form.searchBox
{
    display: block;
    float: right;

    width: 100%;
    height: 60px;
    margin-top: 2em;
}
form.searchBox p
{
    line-height: 60px;

    display: inline-block;
    float: left;
}
form.searchBox p.input
{
    float: left;

    width: 80%;
}
form.searchBox p.submit
{
    float: right;

    width: 20%;
}
form.searchBox input
{
    float: left;

    -moz-box-sizing: border-box;
         box-sizing: border-box;
    width: 100%;
    padding: 1em;

    border: 2px solid #16a085;
}
form.searchBox input.searchBox-input
{
    border-right: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
form.searchBox input.searchBox-button
{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #16a085;
}

@media screen and (min-width: 481px) and (max-width: 768px)
{
    .header-banner
    {
        width: 100%;
        margin: 0 auto;
    }
    .header-banner .header-logo
    {
        float: left;

        width: 30%;
    }
    .header-banner img
    {
        float: left;

        height: 210px;
        margin-left: 2em;
    }

    .header-nav-main
    {
        position: relative;

        display: block;
        float: right;

        -moz-box-sizing: border-box;
             box-sizing: border-box;
        width: 70%;
        margin: 0;
        padding: 3em 1em;
    }
    .header-nav-main ul li
    {
        display: block;
        float: left;

        width: 47%;
        margin-right: 1em;
    }
    .header-nav-main ul li:nth-child(2n)
    {
        margin-right: 0;
    }

    form.searchBox
    {
        width: 70%;
    }
    form.searchBox p.input
    {
        width: 80%;
    }
    form.searchBox p.submit
    {
        width: 20%;
    }
}
@media screen and (min-width: 769px)
{
    .page-header
    {
        width: 30%;
    }

    h1.header-logo-image a img
    {
        height: 200px;
    }
}
.page-main
{
    float: right;

    margin: .5em 0;
    padding: 3em 0 2em 0;

    background-color: white;
}

.page-main-section > h2
{
    margin-bottom: 3em;

    text-align: center;

    border-bottom: 2px dashed #16a085;
    background-color: white;
}

.articles-section
{
    background-color: white;
}

.articles-post
{
    margin: .5em 0;
    padding-bottom: 2em;

    background-color: white;
}
.articles-post:first-child
{
    margin-top: 1em;
}

.articles-title h2
{
    line-height: 1.5em;

    height: 1.5em;
    padding: .1em 0 .1em 1em;

    text-align: left;

    border-bottom: 2px solid #16a085;
    border-left: 8px solid #16a085;
    background-color: white;
    text-shadow: 3px 3px 1px rgba(150, 150, 150, .32);
}

.articles-content
{
    padding: 1em 0;

    background-color: rgba(236, 240, 241, .3);
}
.articles-content p
{
    width: 90%;
    margin: 0 auto;
}

.articles-readMore p
{
    text-align: center;
}
.articles-readMore a
{
    display: block;

    width: 100%;
    margin: 0 auto;
    padding: .5em 0;

    color: #333;
    border: 1px solid #16a085;
    border-radius: 5px 5px 5px;
    background-color: white;
}
.articles-readMore a:hover
{
    color: #fff;
    background-color: #16a085;
}

@media screen and (min-width: 481px) and (max-width: 768px)
{
    .page-main-section > h2
    {
        margin-bottom: 2em;
    }

    .articles-post
    {
        margin: 0 0 1.5em 0;
    }
}
@media screen and (min-width: 769px)
{
    .page-main
    {
        float: right;

        width: 65%;
        margin: 0 auto;
    }

    .page-main-section > h2
    {
        margin-bottom: 3em;
    }

    .articles-post
    {
        margin: 2em 0;
    }

    .articles-title h2
    {
        margin-left: 1em;
    }

    .articles-content
    {
        width: 80%;
        margin: 0 auto;
    }

    .articles-readMore
    {
        width: 80%;
        margin: 0 auto;
    }
}
.page-footer
{
    float: left;

    width: 100%;
    height: 100%;
    margin-top: 3em;

    background-color: white;
}

.personalInfo-profile
{
    width: 100%;
    padding: 1em 0;

    background-color: white;
}

.personalInfo-profile-title
{
    font-weight: normal;
    line-height: 2em;

    height: 2em;

    text-align: center;

    border-bottom: 2px dashed #16a085;
}

.personalInfo-profile-image
{
    margin: 1em 0;

    text-align: center;
}

.personalInfo-profile-intro
{
    width: 80%;
    margin: 0 auto;
}
.personalInfo-profile-intro .personalInfo-profile-name,
  .personalInfo-profile-intro .personalInfo-profile-description
{
    text-align: center;
}

.personalInfo-socialMedia
{
    padding: 1em 0;

    background-color: white;
}
.personalInfo-socialMedia h3
{
    font-weight: normal;
    line-height: 2em;

    height: 2em;

    text-align: center;

    border-bottom: 2px dashed #16a085;
}
.personalInfo-socialMedia ul
{
    margin: 1em 0;
}
.personalInfo-socialMedia ul li
{
    text-align: left;
}
.personalInfo-socialMedia ul i
{
    display: inline-block;

    width: 15%;
}
.personalInfo-socialMedia ul .sns-margin
{
    display: inline-block;

    width: 30%;
}
.personalInfo-socialMedia ul .sns-margin-2
{
    display: inline-block;
}
.personalInfo-socialMedia a
{
    display: block;

    margin-top: 5px;
    padding: .5em 0;

    color: #2c3e50;
    border-bottom: 1px dashed #16a085;
}
.personalInfo-socialMedia a:hover, .personalInfo-socialMedia a:active
{
    color: #16a085;
}

.contactForm
{
    width: 100%;
}
.contactForm button
{
    font-size: 18px;
    line-height: 2em;

    display: block;
    float: left;

    width: 100%;
    height: 2em;
    padding-left: 1em;

    text-align: center;

    color: #fff;
    border: none;
    border-radius: 5px 5px 5px;
    background-color: #16a085;
}
.contactForm .form
{
    display: block;
    float: left;

    width: 90%;
    margin: 0 5%;

    border: 2px solid #16a085;
    border-top: none;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.contactForm form.form p input,
  .contactForm form.form p textarea#comment,
  .contactForm #submit-button
{
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    width: 100%;
    padding: 1em;

    border: none;
    border-bottom: 1px solid #16a085;
}
.contactForm #submit-button
{
    border-bottom: none;
    background-color: #16a085;
}
.contactForm #comment
{
    height: 150px;

    resize: vertical;
}
.contactForm #submit-button
{
    color: #fff;
}

.back-to-top-btn
{
    width: 100%;
    height: 50px;
    margin-top: 3em;

    color: #fff;
    border: none;
    border-radius: 5px 5px 5px;
    background-color: #16a085;
}
.back-to-top-btn a
{
    color: #fff;
}

.copyright
{
    font-size: 11px;

    display: block;

    height: 40px;
    padding: 30px;

    text-align: center;

    background-color: white;
}
.copyright span a
{
    text-decoration: none;
}
.copyright a
{
    text-decoration: underline;
}
.copyright b
{
    font-weight: normal;
}
.copyright .author
{
    font-size: 12px;
}

/******* javascript ***********/
.js-hidden
{
    position: relative;
    top: 0;
}

@media screen and (min-width: 481px) and (max-width: 768px)
{
    .page-footer
    {
        width: 100%;
        height: auto;
        margin-top: 2em;
    }

    .personalInfo-profile
    {
        float: left;

        width: 47.5%;
        margin-right: 2.5%;
    }

    .personalInfo-socialMedia
    {
        float: right;

        width: 45%;
        margin-right: 2.5%;
        margin-left: 2.5%;
    }
    .personalInfo-socialMedia ul
    {
        width: 90%;
        margin-right: auto;
        margin-left: auto;
    }

    .contactForm
    {
        float: right;

        width: 45%;
        margin-right: 2.5%;
        margin-left: 2.5%;
    }
}
@media screen and (min-width: 769px)
{
    .page-footer
    {
        width: 100%;
        height: auto;
        margin-top: 7em;
    }
    .page-footer .personalInfo
    {
        float: left;

        width: 65%;
        margin-right: 1%;
    }
    .page-footer .contactForm
    {
        float: left;

        width: 33%;
        margin-top: 1em;
        margin-left: 1%;
    }

    .personalInfo-profile
    {
        float: left;

        width: 47.5%;
        margin-right: 2.5%;
    }

    .personalInfo-socialMedia
    {
        float: left;

        width: 45%;
        margin-right: 2.5%;
        margin-left: 2.5%;
    }
    .personalInfo-socialMedia ul
    {
        width: 90%;
        margin-right: auto;
        margin-left: auto;
    }
}
